h1{
    text-align: center;
    
}

#principal-border{
    margin: auto;
    width: 700px;
    height: 500px;
    border: 2px solid;
}

#first-border{
    width: 80%;
    height: 20%;
    margin: auto;
    margin-top: 5%;
    background-color: #d1bf2e;
    border-radius: 10px;
}

#secord-border{
    width: 80%;
    height: 20%;
    margin: auto;
    border-radius: 30px;
    margin-top: 5%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%2372FA79FF' stroke-width='18' stroke-dasharray='10%2c 10%2c 30' stroke-dashoffset='83' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
    
}


#third-border{
    width: 80%;
    height: 20%;
    border: 5px ;
    margin: auto;
    margin-top: 5%;
    border-radius: 0px 20px 0px 20px;
    background-color: #c0c0c0;
}

p{
    padding: 10px;   
    margin: 10px;
}